.profile-container{
    display: flex;
    justify-content: center;
    padding: 10rem 3rem;
    
    &__logout-box{
        position: relative;
        z-index: 800;
        height: 100%; //min-height aqui não funciona bem, pois o background-video tem position fixed e min height aqui expande o container dele
        background-image: linear-gradient(110deg, rgba($color-white, .8) 0% 60%, transparent 60%);
        overflow: auto;

        &::-webkit-scrollbar {
            width: 1.2rem;
        }
         
        /* Track */
        &::-webkit-scrollbar-track {
            border-radius: 1rem;
        }
         
        /* Handle */
        &::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 .6rem rgba($color-black, .2);
            border-radius: 1rem;
            background: rgba($color-black, .3);
        }
        &::-webkit-scrollbar-thumb:window-inactive {
            background: rgba($color-black, .1);
        }

        @include respond(tab-port){
            background-image: linear-gradient(110deg, rgba($color-white, .8) 0% 100%, transparent);
        }
    }

    &__logout-form{
        padding: 4rem;
        width: 55%;
        min-height: 100%;
        display: flex;
        align-items: center;
        
        @include respond(tab-port){
            margin: 0 auto;
            width: 100%;
            max-width: 50rem;
        }
    }

    &__update-box{
        position: relative;
        height: 100%; //min-height aqui não funciona bem, pois o background-video tem position fixed e min height aqui expande o container dele
        background-image: linear-gradient(90deg, rgba($color-white, .8) 0% 100%, transparent);
        overflow: auto;

        &::-webkit-scrollbar {
            width: 1.2rem;
        }
         
        /* Track */
        &::-webkit-scrollbar-track {
            border-radius: 1rem;
        }
         
        /* Handle */
        &::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 .6rem rgba($color-black, .2);
            border-radius: 1rem;
            background: rgba($color-black, .3);
        }
        &::-webkit-scrollbar-thumb:window-inactive {
            background: rgba($color-black, .1);
        }
    }

    &__update-form{
        padding: 4rem;
        margin: 0 auto;
        width: 100%;
        max-width: 50rem;
        display: flex;
        align-items: center;
        min-height: 100%;
    }

    &__update-popup{
        display: none;

        @include respond(tab-port){
            display:flex;
        }
    }
}