/*
    OBS: Alguns elementos, mesmo com display block, tem a width definida pelo conteúdo.
    Eles são <input>, <select>, <button>, <img>, <object> e <textarea>.
    Por isso, é necessário definir a width deles para 100% se esse for o caso, 
    mesmo se o display deles for block.
*/
.btn-icon{
    display: inline-flex;
    border: 1px solid $color-grey-light-2;
    justify-content: center;
    align-items: center;
    width: 5.2rem;
    height: 5.2rem;
    border-radius:.4rem;
    background:transparent;
    transition:all .2s;

    &:hover{
        border-color: $color-grey-dark-3;
    }
}

.btn-icon-2{
    display: inline-block;
    border: none;
    color:$color-grey-dark-3;
    background:transparent;
    transition:all .2s;

    &:hover{
        opacity:.4;
    }
}

.btn{
    display: inline-block;
    border: none;
    border-radius: .8rem;
    font-weight: 700;
    padding: 1.2rem 3rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.8rem;
    transition: all 0.2s;

    &:hover{
        filter:brightness(90%);
    }

    &--red{
        background-color: $color-red;
        color: $color-white;
    }

    &--white{
        background-color: $color-white;
        color: $color-red;
    }

    &--100{
        width: 100%;
        display: block;
    }
}

.link{
    &:link,
    &:visited{
        font-weight: 500;
        text-decoration: none;
        color:$color-grey-dark-1;
        display: inline-flex;
        align-items: center;
        transition: all .2s;
    }

    &:hover{
        opacity: .8;
    }

    svg{
        margin-right: .8rem;
    }
}

.link-text {
    &:link,
    &:visited{
        font-weight: 500;
        text-decoration: none;
        display: inline-block;
        border-bottom: 2px solid;
        transition: all .2s;
    }

    &--red{
        color: $color-red;
        border-color: $color-red;
        &:hover{
            background-color: $color-red;
            color:$color-white;
            border-color: $color-red;
        }
    }

    &:hover{
        transform: skewY(-2deg) scale(1.05);
        box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
    }
}

.link-text-2{
    &:link,
    &:visited{
        display: inline-block; //<a/> are inline and transforms don't work well with inline elements
        font-size: 3rem;
        font-weight: 300;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0% 50%, $color-white 50%);
        padding: 0.7rem 1.5rem;
        transition: all .8s;
        background-size: 300% 200%; //width and height
        background-position: 0%;

        /*
            backgroung-size:100% is the same as 'cover'. Increasing this value makes the background grow
            but it's only visible in it's box limits, and decreasing it makes it repeat to cover the box
        
            It was necessary to increase it more than 100% (making it 200%) because of the 120deg rotation
            This way, is completely vanishes at position 0% and covers 100% of the item at position 100%
        */
        
        &:hover,
        &:active{
            color: $color-red;
            background-position: 100%;
            transform: translateX(1rem);
        }
    }
}