.grid-2c{
    display:grid;
    justify-content:center;
    align-content:start;
    grid-template-columns:repeat(2,1fr);
    grid-gap:2.4rem;
    list-style:none;

    @include respond(tab-port){
        grid-template-columns: minmax(20rem,70rem);
    }

    li{
        position:relative;
        overflow: hidden;
        background:$color-white;
        padding:2.4rem;
        border-radius:.8rem;
        max-width: 1fr;

        overflow-wrap:break-word;
        word-break: break-word;

        /*
            Both overflow-wrap and word-break have similar functions, but the first works for
            the most usual languages and the second for chinese, japanese and korean
        */

        .btn-icon-2{
            position:absolute;
            top: 2.4rem;
            right:2.4rem;
        }

        strong{
            display:block;
            margin-bottom:1.2rem;
            
            &:not(:first-child){
                margin-top:3.2rem;
            }
        }

        p{
            color:#737380;
            line-height:2.1rem;
        }
    }
}