/*
    OBS:flex-basis defines the width if the flex direction is row and height if its column, 
    so it doesn't work very well with flex direction column if the parent of the column has 
    no defined height.
*/

/*
    In flexbox, the dimensions are determined by the content. So, if elements with flex parents
    have no specified width and/or height, the not specified dimension adjuts to only fit their content

*/

.row {
    display: flex;
    margin: 0 auto;
    max-width: $grid-width;
    width: 100%;

    @include respond(tab-port){
        max-width: $grid-width-small;
        flex-direction: column;
    }

    &:not(:last-child){
        margin-bottom: $gutter-vertical;

        @include respond(tab-port){
            margin-bottom: $gutter-vertical-small;
        }
    }
}

.row-fluid {
    width: 100%;
    display: flex;
    margin: 0 auto;

    @include respond(tab-port){
        flex-direction: column;
    }

    &:not(:last-child){
        margin-bottom: $gutter-vertical;

        @include respond(tab-port){
            margin-bottom: $gutter-vertical-small;
        }
    }
}

.col {
    flex-grow: 0;
    flex-shrink: 1;

    @include respond(tab-port){
        width: 100% !important;
        max-width: 100% !important;
    }

    &:not(:last-child) {
        margin-right: $gutter-horizontal;

        @include respond(tab-port){
            margin-right: 0;
            margin-bottom: $gutter-vertical-small;
        }
    }
}

.col-100 {
    width: 100%;
    max-width: 100%;
}

.col-40{
    width: calc(2*(100% - #{$gutter-horizontal})/5);
    max-width: calc(2*(100% - #{$gutter-horizontal})/5);
}

.col-60{
    width: calc(3*(100% - #{$gutter-horizontal})/5);
    max-width: calc(3*(100% - #{$gutter-horizontal})/5);
}

.col-50 {
    width: calc((100% - #{$gutter-horizontal})/2);
    max-width: calc((100% - #{$gutter-horizontal})/2);
}

.col-33 {
    width: calc((100% - 2 * #{$gutter-horizontal})/3);
    max-width: calc((100% - 2 * #{$gutter-horizontal})/3);
}

.col-25 {
    width: calc((100% - 3 * #{$gutter-horizontal})/4);
    max-width: calc((100% - 3 * #{$gutter-horizontal})/4);
}

.col-66 {
    width: calc((100% - 2 * #{$gutter-horizontal})/3*2 + #{$gutter-horizontal});
    max-width: calc((100% - 2 * #{$gutter-horizontal})/3*2 + #{$gutter-horizontal});
}

.col-75 {
    width: calc((100% - 3 * #{$gutter-horizontal})/4*3 + 2 * #{$gutter-horizontal});
    max-width: calc((100% - 3 * #{$gutter-horizontal})/4*3 + 2 * #{$gutter-horizontal});
}